/* Color Theme Swatches in Hex */
.color-theme_Como-a-tecnologia-vai-mudar-o-dia-a-dia-no-futuro-1-hex {
  color: #87878c;
}
.color-theme_Como-a-tecnologia-vai-mudar-o-dia-a-dia-no-futuro-2-hex {
  color: #01070d;
}
.color-theme_Como-a-tecnologia-vai-mudar-o-dia-a-dia-no-futuro-3-hex {
  color: #21260a;
}
.color-theme_Como-a-tecnologia-vai-mudar-o-dia-a-dia-no-futuro-4-hex {
  color: #384d59;
}
.color-theme_Como-a-tecnologia-vai-mudar-o-dia-a-dia-no-futuro-5-hex {
  color: #a9c6d9;
}

/* Color Theme Swatches in Hex */
.color-theme_Video-Games-Ps4-1-hex {
  color: #3f4031;
}
.color-theme_Video-Games-Ps4-2-hex {
  color: #bebfa3;
}
.color-theme_Video-Games-Ps4-3-hex {
  color: #262523;
}
.color-theme_Video-Games-Ps4-4-hex {
  color: #d99982;
}
.color-theme_Video-Games-Ps4-5-hex {
  color: #8c281f;
}
